.box {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.movieImg {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border: 1px solid #e3fdff;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(32, 33, 36, 0.35);
  transition: box-shadow 0.4s ease;
}
.movieImg:hover {
  box-shadow: 4px 4px 8px rgba(32, 33, 36, 0.7);
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: blue;
  margin-bottom: 15px;
}
.headers {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 175);
  margin-bottom: 15px;
}
.span {
  padding-left: 10px;
  font-size: 18px;
  font-weight: normal;
  color: black;
}
.addInfo {
  padding: 10px 0 10px 15px;
  font-size: 22px;
  font-weight: bold;
  color: darkblue;
}
.list {
  display: flex;
  padding-left: 10px;
  flex-direction: row;
  gap: 12px;
}
.scoreSpan {
  width: 72px;
  height: 72px;
  font-size: 24px;
  font-weight: bold;
  color: #00ac1a;
  border-radius: 50%;
  border: 8px solid #00ff26;
  text-align: center;
  align-content: center;
}
.item {
  padding: 5px 8px;
  width: 100px;
  font-size: 18px;
  border-radius: 20px;
  border: 1px solid #000;
  align-items: center;
  text-align: center;
  transition: box-shadow 0.3s ease;
}
.item:hover {
  box-shadow: 2px 2px 4px #000;
}
